{% extends "layout.html" %}
{% block content %}

     <div class="jumbotron text-center">
         <div class="container">

            <h2>Total number of paths: {{ cnt_total_paths }}</h2>

        </div>
    </div>

    <div class="main-svg" id="bargraph">

        {{ gp_final | safe }}

        <style>
            body {
                font-family: 'Lato', sans-serif;
            }
            #bargraph {
                width: 100%;
                height: 100%;
            }
        </style>
    </div>


{% endblock content %}