<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ahmet Kochan</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      href="http://cdn.kendostatic.com/2021.1.119/styles/kendo.common.min.css"
      rel="stylesheet"
    />
    <link
      href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.default.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.default.mobile.min.css"
    />
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--<script src="https://kendo.cdn.telerik.com/2020.2.513/js/messages/kendo.messages.fr-FR.min.js"></script>-->
    <style>
      html {
        font-family: "Lato", sans-serif;
      }
    </style>
  </head>
  <body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    <div class="container">{% block content %} {% endblock content %}</div>
  </body>
</html>
