{% extends "layout.html" %}
{% block content %}

    <div class="main-svg" id="bargraph">

        <script>

            // var my_graph =  url_for('static', filename='my_graph.json') }}
            var graphs = {{ plot | tojson | safe }}
            Plotly.newPlot('bargraph',graphs,{});
        </script>


        <style>

            body {
                font-family: 'Lato', sans-serif;
            }

            #bargraph {
                width: 100%;
                height: 100%;
            }

        </style>

    </div>


{% endblock content %}